.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/spotykrl.appspot.com/o/jessi.jpeg?alt=media&token=fa9355c9-9274-4727-ae50-0041963b6fdb');
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 30%;

}

.icono{
    font-size: 80px;
}